<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [style.--color-selected]="'#92a7fd'" tab="tab1" href="/tabs/tab1">
      <ion-icon src="assets/icon/curve-arrow.svg"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button [style.--color-selected]="'#92a7fd'" tab="tab2" href="/tabs/tab2">
      <ion-icon src="assets/icon/calendar-day.svg"></ion-icon>
      
    </ion-tab-button>

    <ion-tab-button [style.--color-selected]="'#92a7fd'"  tab="tab3" href="/tabs/tab3">
      <ion-icon src="assets/icon/user.svg"></ion-icon>
      
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
